body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #3e363f;
    padding-top: 70px;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f098d8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .menu-item {
    text-decoration: none; /* que no tenga subrayado*/
    color: #040404; /* color de la letra */
    padding: 10px; 
    display: inline-block;
  }
  .menu-item:hover {
    background-color: #eeb6d9;
    transition: all 0.4s ease-in-out;
  }